
.square {
  height:200px;
  width: 200px;
  margin:75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  background-color: hotpink;
}

.square:hover {
  background-color: royalblue;
}
